@font-face {
  font-family: sinister;
  src: url('/res/sinister.ttf');
}

.background-image {
	position: fixed;
	background-image: url('/res/village.jpg');
	background-repeat: repeat;
	background-size: 100%;
	top: 0px;
	width: 100%;
	height: 100vh;
	z-index: -1000;
	filter: blur(7px);
}

#form-connexion {
	background-color: #ffffff8e;
	padding: 10px;
	border-radius: 5px;
}

#title {
	position: absolute;
	top: 10%;
	
	font-family: sinister;
	font-size: 8vh;
	color: #ffffff8e;
}